:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
}

* {
  box-sizing: border-box;
}