<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"   />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/newpatient.css">
    <script src="/javascripts/patientadmit.js"></script>
    <title>New Doctor</title>
</head>
<body>
    <section>
        <div class="heading">
            <i class="fa-solid fa-angles-left" onclick="backtoadmin()"></i>
            <h1>New Doctor</h1>
        </div>
        <form action="/new_doctor" method="POST">
            <div class="patientdiv">
                <h3>Patient details</h3>
                <label for="doctor_name">Doctor's Name :</label>
                <input type="text" name="doctor_name" required>

                <label for="speciality">Speciality :</label>
                <input type="text" name="speciality" required>

                <label for="doctor_in">Doctor Check-In Time :</label>
                <input type="time" name="doctor_in" required>

                <label for="doctor_out">Doctor Check-Out Time :</label>
                <input type="time" name="doctor_out" required>

                <label for="doctor_password">Doctor Password :</label>
                <input type="password" name="doctor_password" required>
            </div>

            <input type="submit" id="newpatientsubmit" value="New Doctor">
        </form>
        <% if (message.length > 0) { %>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <h3>Success</h3>
                    <p><%= message %></p>
                    <button id="close-popup">Close</button>
                </div>
            </div>
        <% } %>

    </section>
</body>

</html>