<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"   />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/newpatient.css">
    <script src="/javascripts/patientadmit.js"></script>
    <title>Add New Staff Member</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="emergency">

        <form action="/add_staff" method="POST">
            <h1>Add Staff Member</h1>
    
            <label for="staff_first_name">First Name :</label>
            <input type="text" id="staff_first_name" name="staff_first_name" required>
    
            <label for="staff_last_name">Last Name :</label>
            <input type="text" id="staff_last_name" name="staff_last_name" required>
    
            <label for="role">Role :</label>
            <input type="text" id="role" name="role" required>
    
            <label for="department">Department :</label>
            <input type="text" id="department" name="department">
    
            <label for="contact_number">Contact Number :</label>
            <input type="text" id="contact_number" name="contact_number">
    
            <label for="email">Email :</label>
            <input type="email" id="email" name="email">
    
            <label for="hire_date">Hire Date :</label>
            <input type="date" id="hire_date" name="hire_date">
    
            <label for="address">Address :</label>
            <textarea id="address" name="address"></textarea>
    
            <label for="shift">Shift :</label>
            <input type="text" id="shift" name="shift">
    
            <button type="submit">Add Staff</button>
        </form>
    </div>
    <% if (flashMessage) { %>
        <div class="popup" id="popup">
            <div class="alert alert-<%= flashMessage.type %> ">
                <span><%= flashMessage.message %></span>
                <button id="close-popup">Close</button>
            </div>
        </div>
    <% } %>
</body>
</html>
