* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
}

body {
    background-color: aliceblue;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    margin-inline: 6rem 1rem;
    padding-block: 2rem;
}

.nav {
    width: 72px;
    height: max-content;
    position: fixed;
    inset: 0;
    margin: auto 0;
    z-index: 1000;
}

.navlist {
    position: relative;
    background-image: linear-gradient(to left, #00419c, #29B6F6);
    /* background-color: #29B6F6; */
    padding-block: 70px;
    border-radius: 0 51px 51px 0;
    display: grid;
    justify-content: center;
    row-gap: 2rem;
}

.navlink {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border-radius: 50%;
    transition: background 4s;
}

.navlink i {
    font-size: 1.25rem;
    color: aliceblue;
    transition: color .4s;
}

.navname {
    position: absolute;
    top: 0;
    transform: translateX(56px);
    background-color: rgba(83, 161, 225, 0.836);
    color: aliceblue;
    font-size: medium;
    font-weight: 500;
    padding: 6px 16px;
    border-radius: 3rem;
    pointer-events: none;
    transition: transform .5s, opacity .5s;
    opacity: 0;
    z-index: 999;
}

.navlink:hover .navname {
    opacity: 1;
    transform: translateX(48px);
}

.navcircle1,
.navcircle2 {
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 10;
}

.navcircle1 {
    top: -78px;
}

.navcircle2 {
    bottom: -78px
}

.navsquare1,
.navsquare2 {
    width: 35px;
    height: 40px;
    background-image: linear-gradient(to left, #00419c, #29B6F6);
    /* background-color: #29B6F6; */
    position: absolute;
    z-index: 1;
}

.navsquare1 {
    top: -39px;
}

.navsquare2 {
    bottom: -39px
}

.active-link {
    background-color: aliceblue;
}

.active-link i {
    color: #29B6F6;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appointment {
    font-family: "Montserrat Alternates";
    height: 60%;
    padding: 0 10px 0 10px;
    width: fit-content;
    background-image: linear-gradient(to right, #29B6F6, #0185c2);
    border-radius: 10px;
    margin-left: 20px;
    color: aliceblue;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.profileheader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: fit-content;
    gap: 5px;
    font-family: "Montserrat Alternates";
}

.ri-user-6-line {
    background-image: radial-gradient(#afe6ff, #19b6ff);
    font-size: x-large;
    padding: 5px;
    border-radius: 50%;
}

.section1 {
    margin-left: 5%;
    display: flex;
    gap: 3%;
}

.medication {
    margin-left: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 20%;
    height: fit-content;
    padding: 20px;
    margin-top: 30px;
}

.medicationheading h2,
.reportheading h2,
.upcomingappointmentsheading h2 {
    font-family: "Montserrat Alternates";
    padding-bottom: 10px;
    border-bottom: 0.1px solid rgba(0, 62, 125, 0.3);
}

.medicationlist li {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 3px 49px 0px;
}

.medicationlist li h4 {
    color: #3e98c1;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.medicationlist li h3 {
    padding-top: 5px;
    color: #00112ad1;
}

.medicine {
    display: flex;
    gap: 10px;
    align-items: center;
}

.medicine i {
    padding-top: 5px;
}

.upcomingappointments {
    display: flex;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: fit-content;
    flex-direction: column;
}

.upcomingappointments li {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 3px 49px 0px;
}

.upcomingappointments li h4 {
    color: #3e98c1;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upcomingappointments li h3 {
    padding-top: 5px;
    color: #00112ad1;
}

.doctorname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.doctorname i {
    background-color: #3e98c177;
    color: #00112ad1;
    padding: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.appointmentdoctor {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.checkdiv i {
    font-size: x-large;
    cursor: pointer;
}

.appointmentsection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-right: 5px;
}

.reportsection {
    display: flex;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: fit-content;
    flex-direction: column;
}

.reportsort {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    align-items: center;
}

.filterreport a,
.filterreport select,
.allreport a {
    font-family: Geneva, Tahoma, sans-serif;
    padding: 7px 15px 7px 15px;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.184) 0px 1px 15px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-image: linear-gradient(to right, #50b9e9, #1bb1f7);
}

.reportfiles li {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 3px 49px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.reportname {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.reportname i {
    background-color: #00000088;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.midsection {
    width: 37%;
    height: fit-content;
}

.notifications {
    display: flex;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: fit-content;
    flex-direction: column;
}

#notificationlist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
    gap: 8px;
}

.message i {
    color: #1bb1f7;
}

.messageinfo {
    font-size: medium;
}

.endsection {
    width: 33%;
    height: fit-content;
}

.news {
    display: flex;
    margin-top: 30px;
    color: aliceblue;
    background-image: linear-gradient(to right, #29B6F6, #0185c2);
    width: 100%;
    padding: 20px;
    height: fit-content;
    flex-direction: column;
    border-radius: 10px;
}

.newslist li {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 3px 49px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.newsinfo h4 {
    font-size: smaller;
    color: rgb(202, 219, 235);
}